<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.generalapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GeneralApp">
        <activity
            android:name=".crud.denda.TambahDendaActivity"
            android:exported="false" />
        <activity
            android:name=".crud.denda.ListDendaActivity"
            android:exported="false" />
        <activity
            android:name=".crud.pengembalian.TambahPengembalianActivity"
            android:exported="false" />
        <activity
            android:name=".crud.pengembalian.ListPengembalianActivity"
            android:exported="false" />
        <activity
            android:name=".crud.peminjaman.TambahPeminjamanActivity"
            android:exported="false" />
        <activity
            android:name=".crud.peminjaman.ListPeminjamanActivity"
            android:exported="false" />
        <activity
            android:name=".crud.buku.TambahBukuActivity"
            android:exported="false" />
        <activity
            android:name=".crud.buku.ListBukuActivity"
            android:exported="false" />
        <activity
            android:name=".crud.genre.TambahGenreActivity"
            android:exported="false" />
        <activity
            android:name=".crud.genre.ListGenreActivity"
            android:exported="false" />
        <activity
            android:name=".HomeActivity"
            android:exported="false" />
        <activity
            android:name=".auth.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".auth.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>